<!DOCTYPE html>
<html>
<body>
  
  <div id="main">
	  <div id = "info">
	    <h1 id = "title"> Erik Satie Flashmob </h1>
	    <div id = "join" class="button button-flat-primary"><span id="join_span">Join Flashmob</span></div>
	    <div id = "playbtn" class="button button-flat-primary"><span id="play_span">Play Gymnopédie No.1</span></div>
	    <p id = "what">What is this?</p>
	    <div id = "description">
	      <p>This site is a musical experiment inspired by early-20th-century Parisian composer Erik Satie.  Satie, who had ties to the avant-garde Dada movement,  preferred to call himself not musician, but a "phonometrician" (meaning "someone who measures sounds").</p> 
	      <p>When you join an Erik Satie flashmob, a Satie gravatar will appear on the screen of all other users logged onto this page.  When someone presses "play",  every viewer's computer will play a different segment of the first of Satie's Gymnopédies.   If they click on one of the gravatars onscreen while the song is playing, their part will slowly begin to play on a different (possibly absurd) "instrument", such as a helicopter's whirling blades.</p> 
	    </div>   
	   </div>    
	    
	  <div id = "wrapper">
	    <ul id = "pianos">
	    	<li class = "piano before"><img class="satie prejoin" src = "satie2.png"></li>
	    	<li class = "piano before"><img class="satie prejoin" src = "satie2.png"></li>
	    	<li class = "piano before"><img class="satie prejoin" src = "satie2.png"></li>
				<li class = "piano before"><img class="satie prejoin" src = "satie2.png"></li>
				<li class = "piano before"><img class="satie prejoin" src = "satie2.png"></li>
				<li class = "piano before"><img class="satie prejoin" src = "satie2.png"></li>
	    	<li class = "piano before"><img class="satie prejoin" src = "satie2.png"></li>
				<li class = "piano before"><img class="satie prejoin" src = "satie2.png"></li>
		 		<li class = "piano before"><img class="satie prejoin" src = "satie2.png"></li>
	    	<li class = "piano before"><img class="satie prejoin" src = "satie2.png"></li>
	    	<li class = "piano before"><img class="satie prejoin" src = "satie2.png"></li>
				<li class = "piano before"><img class="satie prejoin" src = "satie2.png"></li>
				<li class = "piano before"><img class="satie prejoin" src = "satie2.png"></li>
				<li class = "piano before"><img class="satie prejoin" src = "satie2.png"></li>
	    	<li class = "piano before"><img class="satie prejoin" src = "satie2.png"></li>
	    </ul>
	  </div>
	 </div>

<!--   <div id = "twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://midi-flashmob.herokuapp.com/" data-via="glumac" data-size="large" data-hashtags="DADA">Tweet</a>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>   
  </div> -->

</body>
</html>








