
<!DOCTYPE html>
<html>
<script>
//////////PUSHER//////////////////////
// Enable pusher logging - don't include this in production
// Pusher.log = function(message) {
//   if (window.console && window.console.log) {
//     window.console.log(message);
//   }
// };

// var pusher = new Pusher('778221c8f338a6510736');
// var channel = pusher.subscribe('test_channel');
// channel.bind('my_event', function(data) {
//   // alert('boom');
//   console.log(data.message);
// });

var play_all_event = new CustomEvent("play_all")
var pusher = new Pusher('778221c8f338a6510736');
var channel = pusher.subscribe('test_channel');
var callback = function(data) {};

channel.bind('my_event', function(data) {
  changeAll(data);
  channel.unbind('my_event', callback);
});

channel.bind('play_all', function(data) {
  playAll();
  channel.unbind('play_all', callback);
});


</script>
</head>
<body>

<div id = "info">
  <h1> Erik Satie Flashmob </h1>
  <div class="button button-flat-primary">Join Flashmob</div>
  <div id = "playbtn" class="button button-flat-primary">Play</div>
  <p>What is this? </p>
</div>

<div id = "wrapper">
  <ul id = "pianos">
    <li class = "piano" id="piano1">
      <h2>Piano 1</h2>
      <img src = "satie.png" width="175px" >
    </li>
    <li class ="piano"  id="piano2">
      <h2>Piano 2</h2>
      <img id src = "satie.png" width="175px">
    </li>'
  </ul>
</div>

  <div id = "twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://midi-flashmob.herokuapp.com/" data-via="glumac" data-size="large" data-hashtags="DADA">Tweet</a>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
 <!--      <div class="fb-like" data-href="http://midi-flashmob.herokuapp.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
 -->
  </div>

</body>








