<head>
  <title>Pusher Test</title>

<script>
var piano1;
//////////PUSHER//////////////////////
// Enable pusher logging - don't include this in production
Pusher.log = function(message) {
  if (window.console && window.console.log) {
    window.console.log(message);
  }
};

// var pusher = new Pusher('778221c8f338a6510736');
// var channel = pusher.subscribe('test_channel');
// channel.bind('my_event', function(data) {
//   // alert('boom');
//   console.log(data.message);
// });

var pusher = new Pusher('778221c8f338a6510736');
var channel = pusher.subscribe('test_channel');
channel.bind('my_event', function(data) {
  // alert('boom');
  // console.log(data.message);
  // console.log("yay");
  piano1 = data;
  changeAll(data);
});

</script>

</head>

<div id = "wrapper">

  <h1> Erik Satie Flashmob </h1>

  <div class = "piano" id="piano1">
  	<h2>Piano 1</h2>
  	<img src = "piano.jpg" width="100px" >
  </div>

  <div class ="piano"  id="piano2">
  	<h2>Piano 2</h2>
  	<img id src = "piano.jpg" width="100px">
  </div>

  <div class "play" id "play">
    <input type="button" align="center" value="play" onclick="pausePlayStop()" id="pausePlayStop">
  </div>            

</div>

<script>

function playNote() {
  MIDI.loadPlugin({
    soundfontUrl: "soundfont/",
    instrument: "acoustic_grand_piano",
    callback: function() {
      var delay = 0; // play one note every quarter second
      var note = 76; // the MIDI note
      var velocity = 127; // how hard the note hits
      // play the note
      MIDI.setVolume(0, 127);
      MIDI.noteOn(0, note, velocity, delay);
      MIDI.noteOff(0, note, delay + 0.75);
      console.log("playnote");
    }
  });
}

function playFile(file) {
    MIDI.Player.loadFile(file, function(e){
    console.log("playfile");
    MIDI.Player.start();
  });
}



  $("#piano2").click(function() {
      playFile("/Gymnopedie_1_Saya_Tomoko-s-gymno1.mid");
  });

  $("#piano1").click(function() {
      playNote();
      console.log("ok");

  });


</script>

   <!-- midi.js package -->
   <script src="js/MIDI/AudioDetect.js" type="text/javascript"></script>
   <script src="js/MIDI/LoadPlugin.js" type="text/javascript"></script>
   <script src="js/MIDI/Plugin.js" type="text/javascript"></script>
   <script src="js/MIDI/Player.js" type="text/javascript"></script>
   <script src="js/Window/DOMLoader.XMLHttp.js" type="text/javascript"></script>
   <script src="js/Window/DOMLoader.script.js" type="text/javascript"></script>
   <!-- extras -->
   <script src="inc/Base64.js" type="text/javascript"></script>
   <script src="inc/base64binary.js" type="text/javascript"></script>
